<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>uts.asd.lrbs.controller.ConnServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>StaffReservationServlet</servlet-name>
        <servlet-class>uts.asd.lrbs.controller.StaffReservationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>uts.asd.lrbs.controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCatalogueServlet</servlet-name>
        <servlet-class>uts.asd.lrbs.controller.ViewCatalogueServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCatalogueServlet</servlet-name>
        <url-pattern>/ViewCatalogueServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffReservationServlet</servlet-name>
        <url-pattern>/StaffReservationServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReservationServlet</servlet-name>
        <servlet-class>uts.asd.lrbs.controller.ReservationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReservationServlet</servlet-name>
        <url-pattern>/ReservationServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>